.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 88%;
  max-width: 200px;
  height: 200px;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease-in-out;

  a {
    display: block;
    padding: 16px;
    text-decoration: none;
    min-height: 100%;
    min-width: 100%;
    color: black;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;

      span {
        display: inline-block;
        transform: rotate(-45deg);
        margin-left: 8px;
      }
    }

    p {
      margin: 16px 0 0;
      font-size: 16px;
    }
  }

  &.primary {
    background-color: rgba(0, 136, 255, 0.5);
    border: 1px solid rgb(50, 50, 50);
    h2 {
      color: white;
    }
    p {
      color: rgb(50, 50, 50);
    }
  }

  &.secondary {
    background-color: gold;
    border: 1px solid #753535;
    h2 {
      color: #753535;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.66);
    background-color: red;
    h2 {
      text-decoration: underline;
      color: black;
    }
  }
}
