name: CI
on:
  pull_request:
    types: [opened, ready_for_review, reopened, synchronize]
    branches:
      - main
  push:
    branches:
      - main
jobs:
  Unit-Tests:
    name: Unit Tests (JEST)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          node-version: lts
      - name: ------------ Install modules
        run: yarn
      - name: ------------ Running Tests tests
        run: yarn test:ci
  E2E-Tests:
    name: End 2 End Tests (CYPRESS)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: ------------ Cypress Run Headless
        uses: cypress-io/github-action@v3
        with:
          build: npm run build
          start: npm run start
          wait-on: http://localhost:3000
